<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Books</title>
</head>
<body>
	<form name='addBook' id='booksFrm' method="post">
		Name
		<br />
			<?php Author::getList(); ?>
		Title
		<br />
		<input type='text' class='field' name='title' />
		Year
		<br />
		<input type='text' class='field' name='year' />
		Publisher
		<br />		
			<?php Publisher::getList(); ?>		
		Page count
		<br />
		<input type='text' class='field' name='page_count' />
		Date
		<br />
		<input type='text' class='field' id='datepicker' name='date' />
		Genre
		<br />
			<?php Genre::getList(); ?>
		<input type='submit' name='submitBook' class='button' value='Insert' />
		<hr />
		<input type='text' class='field' name='book_id' />
		<input type='submit' name='deleteBook' class='button' value='Delete' />
	</form>
</body>
</html>