<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Editors</title>
	<style>
		select {
			width: 70px;
		}
	</style>
</head>
<body>
	<form name='editors' id='editorsFrm' method="post">
		Name <input class='field' type='text' name='name' />
		Surname <input class='field' type='text' name='surname' />		
		<input class='button' type='submit' name='submitEditor' value='Insert' />
		<hr />
		<input class='field' type='text' name='editor_id' />		
		<input class='button' type='submit' name='deleteEditor' value='Delete' />
	</form>
</body>
</html>
