<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Searching</title>
</head>
<body>
	<form name='search' method="post" id="sForm">
		From table <select name='sTable'">
			<option value="Book">Book</option>
			<option value="Author">Author</option>
			<option value="Publisher">Publisher</option>
			<option value="Editor">Editor</option>
			<option value="Genre">Genre</option>
			<option value="Address">Address</option>
			<option value="Country">Country</option>
		</select>
		Value <input type='text' class='field' name='value' />
		<br />
		<br />
		<hr />		
		<input type='submit' class='button' name='submitValue' value='Search'/>
	</form>	
</body>
</html>